.button1 {
    -fx-background-color: #C0392B;
    -fx-text-fill: white;
    -fx-padding: 5px;
    -fx-margin: 5px;
    -fx-background-radius: 10;
    /* Bán kính bo tròn */

}

.button1:hover {
    -fx-background-color: red;
    /* Màu nền khi di chuột qua */
}

.button1:pressed {
    -fx-background-color: rgb(207, 10, 10);
    /* Màu nền khi nhấn */
}

.vbox {
    -fx-background-color: #ECECEC;
    /* Màu nền */
    -fx-border-color: black;
    /* Màu viền */
    -fx-border-width: 2px;
    /* Độ dày viền */
}

.hbox {
    -fx-background-color: #ECECEC;
    /* Màu nền */
    -fx-border-color: black;
    /* Màu viền */
    -fx-border-width: 2px;
    /* Độ dày viền */
}

.hbox1 {
    -fx-background-color: transparent;
    /* Màu nền trong suốt */
    -fx-border-width: 0 0 1 0;
    /* Độ dày của viền: top right bottom left */
    -fx-border-color: rgb(233, 9, 9);
    /* Màu viền */
    -fx-alignment: center;
    /* Canh giữa theo chiều ngang */

}

.menu-bar {
    -fx-background-color: #f0f0f0;
    /* Màu nền */
}   